.spinner-outer-circle {
  background: linear-gradient(45deg, var(--accent), var(--accent-other));
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: relative;
}

.spinner-inner-circle {
  background: var(--highlight);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-inner-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 125%;
}

.spinner-inner-bar-1 {
  background: var(--highlight);
  transform: translate(-50%, -50%);
  animation: spinner-inner-bar-1-rotate 1s linear infinite forwards;
}

.spinner-inner-bar-2 {
  background: var(--highlight);
  transform: translate(-50%, -50%) rotateZ(20deg);
  animation: spinner-inner-bar-2-rotate 1s linear infinite forwards;
}

.spinner-inner-bar-3 {
  background: var(--highlight);
  transform: translate(-50%, -50%) rotateZ(-20deg);
  animation: spinner-inner-bar-3-rotate 1s linear infinite forwards;
}

@keyframes spinner-inner-bar-1-rotate {
  to {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
  from {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
}

@keyframes spinner-inner-bar-2-rotate {
  to {
    transform: translate(-50%, -50%) rotateZ(380deg);
  }
  from {
    transform: translate(-50%, -50%) rotateZ(20deg);
  }
}

@keyframes spinner-inner-bar-3-rotate {
  to {
    transform: translate(-50%, -50%) rotateZ(340deg);
  }
  from {
    transform: translate(-50%, -50%) rotateZ(-20deg);
  }
}