.profile-page {
  max-width: 900px;
  margin: 0px auto;
}

.profile-page-grid {
  display: grid;
  padding: 20px 20px 20px 20px;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
  grid-template-areas:
  "stats stats stats stats stats stats stats stats stats stats"
  "picts picts picts picts picts picts picts picts picts picts"
  "butns butns butns butns butns butns butns butns butns butns";
}

.profile-page-grid-component {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 3px 1px lightgray;
}

.profile-page-grid-stats {
  grid-area: stats;
}

.profile-page-grid-buttons {
  grid-area: butns;
}

.profile-page-grid-pictures {
  grid-area: picts;
}

.profile-page-loading-container {
  margin: 15vh auto 0px auto;
  width: 140px;
  height: 140px;
}

.profile-page-stats-title {
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.profile-page-stats-name {
  color: var(--midtone);
  font-size: 20px;
  text-align: center;
}

.profile-page-stats-username {
  font-size: 14px;
  text-align: center;
  color: silver;
}

.profile-page-stats-pp-container {
  margin-top: 12%;
  display: flex;
  justify-content: center;
}

.profile-page-stats-pp-pic-container {
  height: 75%;
  width: 75%;
  border-radius: 5px;
}

.profile-page-stats-pp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.profile-page-stats-pp:hover {
  cursor: pointer;
}

.profile-page-stats-stats-container {
  padding: 0px 20px;
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}

.profile-page-stat-container {
  display: inline-block;
}

.profile-page-stat-heading {
  color: silver;
  font-size: 12px;
  text-align: center;
}

.profile-page-stat-stat {
  color: var(--midtone);
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.profile-page-stats-map-container {
  box-shadow: 0px 0px 7px 0px silver;
  margin: 20px 0px 0px 0px;
}

.profile-page-grid-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.profile-page-grid-buttons-button {
  height: 48px;
  width: 100px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin: 20px 0px;
  border: none;
  box-shadow: 0px 0px 5px 0px silver;
}

.profile-page-grid-buttons-button:hover {
  cursor: pointer;
}

.profile-page-grid-likers-button {
  background: linear-gradient(90deg, var(--accent-other), var(--accent));
}

.profile-page-grid-viewed-button {
  color: var(--midtone);
  background: var(--highlight-light);
}

.profile-page-grid-edit-button {
  color: gray;
  background-color: var(--highlight-light)
}

.profile-page-grid-pictures {
  padding: 30px;
}

/* 9px because tags have bottom padding of 11px */
.profile-page-pictures-bio-container {
  margin-top: 9px;
}

.profile-page-pictures-bio-heading {
  color: silver;
  font-size: 12px;
}

.profile-page-pictures-bio-text {
  color: var(--midtone);
  margin-top: 5px;
  font-size: 14px;
}

.profile-page-pictures-pictures-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-page-picture-aspect-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px silver;
}

.profile-page-picture-aspect-node {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
}

.profile-page-pictures-picture-container {
  display: inline-block;
  height: 23%;
  width: 23%;
  border-radius: 5px;
}

.profile-page-pictures-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.profile-page-pictures-picture:hover {
  cursor: pointer;
}

.profile-page-modal-image {
  border-radius: 5px;
  padding: 10px;
  width: 80vw;
  max-width: 500px;
}

.profile-page-pictures-tags-container {
  margin-top: 20px;
}

.profile-page-pictures-tags-heading {
  color: silver;
  font-size: 12px;
  margin-bottom: 8px;
}

.profile-page-pictures-tags-tag {
  display: inline-block;
  margin: 0px 8px 8px 0px;
  padding: 3px 10px 3px 10px;
  font-size: 12px;
  border-radius: 500px;
  color: gray;
  background-color: var(--highlight-light);
}

.profile-page-pictures-tags-no-tags-text {
  color: var(--midtone);
  margin-top: 5px;
  font-size: 14px;
}

@media only screen and (min-width: 500px) {
  .profile-page-grid {
    grid-template-areas:
    "stats stats stats stats picts picts picts picts picts picts"
    "stats stats stats stats picts picts picts picts picts picts"
    "stats stats stats stats picts picts picts picts picts picts"
    "stats stats stats stats picts picts picts picts picts picts"
    "stats stats stats stats butns butns butns butns butns butns"
    "stats stats stats stats butns butns butns butns butns butns";
  }
  .profile-page-grid-buttons {
    justify-content: space-between;
  }
  .profile-page-grid-buttons-button {
    margin: 0px;
    width: 100px;
  }
  .profile-page-pictures-tags-tag {
    margin: 0px 8px 8px 0px;
    font-size: 12px;
  }
  .profile-page-stat-heading {
    font-size: 10px;
  }
  .profile-page-stat-stat {
    font-size: 12px;
  }
  .profile-page-pictures-bio-text {
    font-size: 12px;
  }
}

@media only screen and (min-width: 600px) {
  .profile-page-stat-heading {
    font-size: 12px;
  }
  .profile-page-stat-stat {
    font-size: 14px;
  }
  .profile-page-pictures-bio-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 700px) {
  .profile-page-grid {
    grid-template-areas:
    "stats stats stats picts picts picts picts picts picts picts"
    "stats stats stats picts picts picts picts picts picts picts"
    "stats stats stats picts picts picts picts picts picts picts"
    "stats stats stats picts picts picts picts picts picts picts"
    "stats stats stats butns butns butns butns butns butns butns"
    "stats stats stats butns butns butns butns butns butns butns";
  }
  .profile-page-grid-buttons {
    justify-content: space-between;
  }
  .profile-page-grid-buttons-button {
    margin: 0px;
    width: 120px;
  }
  .profile-page-pictures-tags-tag {
    margin: 0px 11px 11px 0px;
    font-size: 14px;
  }
}
