.profile-page {
  max-width: 900px;
  margin: 0px auto;
}

.profile-page-grid {
  display: grid;
  padding: 20px 10px 20px 10px;
  grid-template-columns: repeat(8, 1fr);
  /* grid-auto-rows: minmax(50px, auto); */
  grid-gap: 20px;
  grid-template-areas:
  "stats stats stats stats stats stats stats stats"
  "picts picts picts picts picts picts picts picts"
  "butns butns butns butns butns butns butns butns";
}

.profile-page-grid-component {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 3px 2px 0px silver;
}

.profile-page-grid-stats {
  grid-area: stats;
  padding: 10px
}

.profile-page-grid-buttons {
  grid-area: butns;
}

.profile-page-grid-pictures {
  grid-area: picts;
}

.profile-page-loading-container {
  margin: 15vh auto 0px auto;
  width: 140px;
  height: 140px;
}

.profile-page-stats-title {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.profile-page-stats-name {
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
}

.profile-page-stats-username {
  font-weight: lighter;
  text-align: center;
  color: silver;
}

.profile-page-stats-pp-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.profile-page-stats-pp {
  height: 60%;
  width: 60%;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px silver;
}

.profile-page-stats-stats-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.profile-page-stat-container {
  display: inline-block;
}

.profile-page-stat-heading {
  font-weight: lighter;
  color: silver;
  font-size: 12px;
  text-align: center;
}

.profile-page-stat-stat {
  font-weight: lighter;
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .profile-page-grid {
    grid-template-areas:
    "stats stats stats stats butns butns butns butns"
    "stats stats stats stats butns butns butns butns"
    "stats stats stats stats picts picts picts picts"
    "stats stats stats stats picts picts picts picts"
    "stats stats stats stats picts picts picts picts"
    "stats stats stats stats picts picts picts picts";
  }
}

@media only screen and (min-width: 700px) {
  .profile-page-grid {
    grid-template-areas:
    "stats stats stats butns butns butns butns butns"
    "stats stats stats butns butns butns butns butns"
    "stats stats stats picts picts picts picts picts"
    "stats stats stats picts picts picts picts picts"
    "stats stats stats picts picts picts picts picts"
    "stats stats stats picts picts picts picts picts";
  }
}
