.user-sort {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px 0px 0px;
}

.user-sort:first-child {
  margin: 0px;
}

/* 33px padding top for the absolute float heading */
.user-sort-button-container {
  position: relative;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px silver;
}

.user-sort-button-container-disabled {
  opacity: 0.5;
}

.user-sort-button-container-heading {
  color: var(--midtone);
  font-size: 13px;
  margin: 0px 0px 6px 0px;
}

.user-sort-button-container-heading-disabled {
  opacity: 0.5;
}

.user-sort-button {
  height: 48px;
  width: 100px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  border: none;
  box-shadow: 0px 0px 5px 0px silver;
  background: linear-gradient(90deg, var(--accent-other), var(--accent));
  margin: 0px 20px 0px 0px;
}

.user-sort-button-disabled {
  opacity: 0.5;
}

.user-sort-button:hover {
  cursor: pointer;
}

.user-sort-button:last-child {
  margin: 0px;
}

.user-sort-button-selected {
  filter: brightness(50%);
}
