.settings-page {
  max-width: 900px;
  margin: 0px auto;
  padding-bottom: 20px;
}

.settings-page-loading-container {
  margin: 15vh auto 0px auto;
  width: 140px;
  height: 140px;
}

.settings-page-part {
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 3px 1px lightgray;
}

.settings-page-part-1 {
  
}

.settings-page-part-2 {
  margin: 20px 20px 0px 20px;
}

.settings-page-part-1-container {

}

.settings-page-part-2-container {
  padding: 15px;
}

.settings-page-part-1-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.settings-page-part-1-form-left {
  display: inline-block;
  min-width: 220px;
  flex-grow: 1;
  padding: 15px;
}

.settings-page-part-1-form-right {
  display: inline-block;
  min-width: 220px;
  flex-grow: 1;
  padding: 15px;
}

.settings-page-input-container {
  margin-top: 25px;
}

.settings-page-input-container:first-child {
  margin-top: 0px
}

.settings-page-input-container-heading {
  color: var(--midtone);
  font-size: 13px;
  margin-bottom: 6px;
}

.settings-page-form-input {
  display: block;
  width: 100%;
  color: var(--midtone-dark);
  padding: 10px;
  font-size: 15px;
  border: 1px solid var(--highlight);
  border-radius: 5px;
}

.settings-page-form-input::placeholder {
  color: silver;
}

.settings-page-form-input:first-child {
  margin: 0px 0px 0px 0px;
}

.settings-page-input-error-container {
  display: flex;
  justify-content: space-between;
}

.settings-page-input-error-container-heading {
  display: inline-block;
  color: var(--midtone);
  font-size: 13px;
  margin-bottom: 6px;
}

.settings-page-input-error {
  display: inline-block;
  color: red;
  font-size: 13px;
  margin-bottom: 6px;
}

.settings-page-input-error-disable {
  display: none;
}

.settings-page-form-textarea {
  display: block;
  width: 100%;
  height: 138px;
  padding: 10px;
  resize: none;
  border: 1px solid var(--highlight);
  border-radius: 5px;
  font-size: 15px;
  color: var(--midtone-dark)
}

.settings-page-form-textarea::placeholder {
  color: silver;
}

.settings-page-form-radio-group {
  margin-top: 20px;
  color: var(--midtone);
}

.settings-page-form-radio-group-sex {

}

.settings-page-form-radio-group-sex-pref {

}

.settings-page-form-radio-sub-group {
  margin-top: 3px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.settings-page-form-radio-button {
  margin: 0px 8px 0px 0px;
}

.settings-page-form-button-container {
  display: flex;
  justify-content: space-between;
}

.settings-page-form-button {
  height: 48px;
  width: 100px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin: 20px 0px 0px 0px;
  border: none;
  box-shadow: 0px 0px 5px 0px silver;
  background: linear-gradient(90deg, var(--accent-other), var(--accent));
}

.settings-page-form-button:hover {
  cursor: pointer;
}

.settings-page-form-button-saved {
  color: darkgreen;
  background: lightgreen;
  box-shadow: 0px 0px 5px 0px silver;
  border: 1px solid green;
}

.settings-page-correct-errors-message-container {
  display: flex;
  height: 48px;
  background: rgb(255, 135, 135);
  box-shadow: 0px 0px 1px 1px red;
  color: rgb(133, 0, 0);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 15px;
}

.settings-page-correct-errors-message {
  font-size: 15px;
  text-align: center;
}

.settings-page-tags-container {

}

.settings-page-input-container-heading-tags {
  margin: 25px 0px 10px 0px;
}

.settings-page-pickableTags-tag {
  display: inline-block;
  margin: 0px 8px 8px 0px;
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  border-radius: 500px;
  color: gray;
  background-color: white;
}

.settings-page-pickableTags-tag:hover {
  cursor: pointer;
}

.settings-page-pickableTags-tag-chosen {
  color: gray;
  background-color: var(--highlight-light);
  border: none;
}

.settings-page-pictures-heading {
  margin-bottom: 10px;
}

.settings-page-pictures-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings-page-picture-container {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.settings-page-picture-container:first-child {
  margin-top: 0px;
}

.settings-page-picture-container input[type="file"] {
  display: none;
}

.settings-page-picture-aspect-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  box-shadow: 0px 0px 5px 0px silver;
  border-radius: 5px;
  margin-bottom: 10px;
}

.settings-page-picture-aspect-container-pp-text {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  padding: 4px;
  box-shadow: 0px 0px 5px 0px silver;
  color: var(--midtone);
  background-color: white;
  border-radius: 50%;
}

.settings-page-picture-aspect-node {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
}

.settings-page-picture {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.settings-page-file-select-input-text {
  width: 100%;
  font-size: 13px;
  color: var(--midtone);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: -13px;
}

.settings-page-file-select-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  color: var(--midtone);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--highlight-light);
  box-shadow: 0px 0px 5px 0px silver;
}

.settings-page-form-file-upload-button {
  height: 28px;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  color: white;
  border-radius: 5px;
  background: linear-gradient(90deg, var(--accent-other), var(--accent));
  box-shadow: 0px 0px 5px 0px silver;
  margin-bottom: 10px;
}

.settings-page-update-location-button {
  height: 48px;
  width: 144px;
  border-radius: 5px;
  color: var(--midtone);
  font-size: 14px;
  margin: 20px 0px 0px 0px;
  border: none;
  box-shadow: 0px 0px 5px 0px silver;
  background: var(--highlight-light);
  margin-right: 10px;
}

.settings-page-update-location-button:hover {
  cursor: pointer;
}

.settings-page-update-location-button-saved {
  color: darkgreen;
  background: lightgreen;
  box-shadow: 0px 0px 5px 0px silver;
  border: 1px solid green;
}

.settings-page-update-location-button-updating {
  color: orange;
  background: lightyellow;
  box-shadow: 0px 0px 5px 0px silver;
  border: 1px solid orange;
}

@media only screen and (min-width: 525px) {
  .settings-page-pictures-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .settings-page-picture-container {
    display: inline-block;
    width: 18%;
    margin-top: 0px;
  }
  /* .settings-page-file-select-input-text {
    position: absolute;
    bottom: -13px;
  } */
}
