.landing-form-login-body {
  padding: 20px;
  min-width: 270px;
  max-width: 230px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--midtone-dark);
  font-size: 35px;
}

.login-form-input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 15px;
  border: none;
  width: 100%;
  border-radius: 3px;
}

.login-form-button {
  border-style: none;
  height: 48px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  color: var(--highlight-light);
  background-color: var(--accent);
  margin-bottom: 20px;
}

.switch-to-register-text {
  color: var(--midtone);
  text-align: center;
  width: 100%;
  font-size: 15px;
}

.switch-to-register {
  cursor: pointer;
}

.reset-text {
  color: var(--midtone);
  text-align: center;
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
}

.reset-form {
  cursor: pointer;
}

.login-correct-errors-message {
  display: flex;
  height: 48px;
  background: rgb(255, 135, 135);
  box-shadow: 0px 0px 1px 1px red;
  color: rgb(133, 0, 0);
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;
}

.login-correct-errors-message p {
  font-size: 15px;
  text-align: center;
}

.login-form-loading {
  margin-bottom: 14px;
}

.login-form-loading-container {
  margin: auto;
  width: 160px;
  height: 160px;
}

.login-form-loading h2 {
  text-align: center;
  color: var(--midtone-dark);
  font-size: 25px;
  margin-bottom: 20px;
}
